html, body {
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #9B59B6;
    font-family:'Montserrat', sans-serif;
    color: white;
}

.message {
    padding-top: 9vh;
    text-align: center;

    font-size: 170%;
}

form {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

img {
    width: 10vh;

}

form {
    padding: 15px;
}

.success {
    width: 100vw;
    height: 100px;
    position: fixed;

    top:50%;
    transform: translateY(-50%);

    font-size: 5em;
    background-color: gold;
    text-align: center;

    opacity: 0;
}